html {
    height: 100%;
}

body {
    height: 75%;
    background-color: skyblue;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.basegrid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.griditem {
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    transition: 0.25s transform;
    font-size: 5rem;
    perspective: 600px;
}

.griditem.red {
    background-color: red;
}

.griditem:hover {
    transform: scale(1.1);
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .card__face--front {
      /* do nothing */
  }

  .card__face--front:hover {
      display: none;
  }
  
  .card__face--back {
    transform: rotateY( 180deg );
  }

  .card__face--back:hover {
      display: inline;
  }

  .card:hover {
    transform: rotateY(180deg);
  }